<section class="profile-page">

  {{!-- Profile Info Sidebar --}}
  <section class="profile-sidebar">

{{!-- Buttons --}}
    <section class="profile-sidebar-buttons">
        {{#unless currentUser}}
        <button class="add-friend btn" data-id={{user.id}}>add friend</button>
        {{else}}
        <div class="edit-prof ">
        <button class ="btn" id="edit-profile">Edit Profile</button>
        </div>
        {{/unless}}
    </section>
    {{!-- Username --}}
    <section>
      <h3 class="profile-sidebar-username">{{user.username}}</h3>
    </section>
    
    {{!-- Profile Image, Name, and Username --}}
    <section class="profile-img">
      <img id="prof-img" src="{{user.profile_img}}">
      <button class="upload-img btn hide">Upload Image</button>
    </section>

    {{!-- Name --}}
    <section class="profile-sidebar-full-name">
      <p>{{user.first_name}} {{user.last_name}}</p>
    </section>

    {{!-- Bio --}}
    <section class="bio">
      <textarea disabled="true" id="bio">{{user.bio}}</textarea>
    </section>

    

  </section>
  
  {{!-- Friends, Interests, and Wall --}}
  <section class="profile-assets">

    {{!-- Friends and Interests --}}
    <section class="friends-and-interests">

      {{!-- Friends --}}
      <section class="friends">
        <h3 id="friends-txt">Friends</h3>
        <div class="friends-data">
          {{#each user.Friends as |friend|}}
          <div class="friend-data">  
            <img class="friend-img" src="{{friend.profile_img}}">
            <a class="friend-username" href="/profile/{{friend.username}}">{{friend.username}}</a>
          </div>
          {{/each}}
        </div>
      </section>

      {{!-- Interests --}}
      <section class="interests">

        <h3>Interests</h3>

        <form id="interest-form">
          <input type="text" id="new-interest">
          <button type="submit">+</button>
        </form>

        <ul class="interests-lists">
          {{#each user.Interests as |interest|}}
          <li class="interest"> {{name}} 
            <button class="delete-interest">X</button>
          </li>
          {{/each}}
        </ul>

      </section>

    </section>
  
    {{!-- The Wall --}}
    <section class="wall">

      <section class="wall-nav">

        {{!-- Post Creation Form --}}
        {{#if currentUser}}
        <form class="create-post" id="post-form">
            <input type="text" placeholder="Post Title" class="post-input" id="post-title">
            <input type="text" placeholder="Post Body" class="post-input" id="post-body">
            <button class="post-btn accent btn">Post</button>
        </form>
        {{/if}}
        
        {{!-- Existing Posts --}}
        {{#each user.Posts as |post|}}

        {{!-- Individual Post --}}
        <section class="post" data-postid={{id}}>

            <h4>{{post.title}}</h4>
            <p>{{post.body}}</p>
            
            {{#each post.Comments as |comment|}}

            <section class="comment" data-comment-id={{id}}>

              <p>{{comment.User.username}}</p>
              <p class="comment-text">{{comment.text}}</p>
              
              {{!-- TODO: Add if conditional to add edit button --}}

            </section>

            {{/each}}

            <form class="create-comment" id="comment-form">
              <input type="text" placeholder="Add a comment...">
              <button class="post-btn accent btn">Post</button>
            </form>

        </section>

        {{/each}}

      </section>

    </section>

  </section>

</section>