<section class="profile-page">

  {{!-- Profile Info Sidebar --}}
  <section class="profile-sidebar">

    {{!-- Username --}}
    <section>
      <h3 class="profile-sidebar-username">{{user.username}}</h3>
    </section>
    
    {{!-- Profile Image, Name, and Username --}}
    <section class="profile-img">
      <img id="prof-img" src="{{user.profile_img}}">
      <button class="upload-img accent btn hide">Upload Image</button>
    </section>

    {{!-- Name --}}
    <section class="profile-sidebar-full-name">
      <p>{{user.first_name}} {{user.last_name}}</p>
    </section>

    {{!-- Bio --}}
    <section class="bio">
      <textarea disabled="true" id="bio">{{user.bio}}</textarea>
    </section>

    {{!-- Buttons --}}
    {{#unless currentUser}}
    <button class="add-friend btn" data-id={{user.id}}>add friend</button>
    {{else}}
    <div class="edit-prof ">
      <button class ="btn" id="edit-profile">Edit Profile</button>
    </div>
    {{/unless}}

  </section>
  
  {{!-- Friends, Interests, and Wall --}}
  <section class="profile-assets">

    {{!-- Friends and Interests --}}
    <section class="friends-and-interests">

      {{!-- Friends --}}
      <section class="friends">
        <h3 id="friends-txt">Friends</h3>
        <div class="friends-data">
          {{#each user.Friends as |friend|}}
          <div class="friend-data">  
            <img class="friend-img" src="{{friend.profile_img}}">
            <a class="friend-username" href="/profile/{{friend.username}}">{{friend.username}}</a>
          </div>
          {{/each}}
        </div>
      </section>

      {{!-- Interests --}}
      <section class="interests">
        <h3>Interests</h3>
        <ul class="interests-lists">
          {{#each user.Interests as |interest|}}
          <li class="interest"> {{name}} <button class="delete-interest">X</button></li>
          {{/each}}
        </ul>
      </section>
    </section>
  
    {{!-- The Wall --}}
    <section class="wall">
      <div class="wall-nav">
          <p class="wall-user">{{user.username}}:</p>
        {{!-- create post field at top of page --}}
        <form class="create-post">
            <input type="text" placeholder="Tell us what's on your mind" id="make-post">
            <button class="post-btn accent btn">Post</button>
        </form>

        <br>
        
        {{!-- existing posts --}}
        {{!--TODO: make a for each statment for each post --}}
        {{#each user.Posts as |post|}}
        <div class="post">

          {{!-- TODO: create a href that takes you to the user's profile when clicking the username <a> tag --}}
          <a href="http://localhost:5678/profile/id/{{post.UserId}}">{{user.username}}</a>

            <h4>{{post.title}}</h4>
            <p>{{post.body}}</p>
          {{!-- TODO: make a for each statement to create a comment on a post --}}
          {{!-- TODO: edit the <p> --}}
            <br>
          {{#each post.Comments as |comment|}}
          <div class="comment">
            <p class="comment-text">{{comment.text}}</p>
            <!-- TODO: add edit and delete buttons for each comment posted by current user -->
            {{#if currentUser}}  
            <button class="edit-comment btn">Edit</button>
            <button class="delete-btn btn">Delete</button>
            {{/if}}
          </div>
          {{/each}}

          <form class="create-comment">
            <input type="text" placeholder="Add a comment...">
            <button class="post-btn accent btn">Post</button>
          </form>
        </div>
        <br>
        {{/each}}
      </div>
    </section>

  </section>

</section>