
    <div class="profileview">
        <div class="profileimg">
            <img src="{{user.profile_img}}">
        </div>
        <div class="personname">
            <p>
                {{fist_name}}
                <br>
                {{last_name}}
            </p>
        </div>
        {{!-- TODO: create logic for add friend button: 
                        - if user is not on your friends list, show add friend button --}}
        <div class="bio" id="bio">
            <pre>{{bio}}</pre>
        </div>
    </div>

    <div class="friends">
        <div class="friend-data">
            {{#each Friend as |Friend|}}
          {{profile_img}}
          {{username}}
            {{/each}}
        </div>
    </div>

    <div class="interests">
    <ul class="interests-lists">
        <li> {{name}} </li>
    </ul>
    <button class="deletebtn">Delete</button>
    </div>

    <div class="edit-prof btn">
        <button>Edit Profile</button>
    </div>
{{!-- where all posts and comments are held --}}
    <div class="wall">
        <div class="wall-nav">
            <p>{{username}}</p>
            <form>
                <input type="text" placeholder="Tell us what's on your mind" id="make-post">
                </form>
                <button class="btn" type="submit">Post</button>
        {{#each Posts}}
            <div class="post">
                <p>
                    {{username}}:
                    {{title}}
                    {{body}}
                </p>
                {{timestamp}}
                {{#if is CurrentUser}} 
                <form>
                    <input type="text" name="comment" placeholder="Add a comment...">
                    <button class="edit-cmt btn">Edit</button>
                    <button class="deletebtn">Delete</button>
                    <button class="btn" type="submit">Post</button>
                </form>
                {{/if}}
                {{#each comments}}
                <div class="comment">
                    <p>{{text}}</p>
                    {{!-- {{#if is CurrentUser}} --}}
                </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>