<div class="profile-page">

    <div class="profile-sidebar">
      <div class="profileimg">
        <img src="{{user.profile_img}}">
      </div>
      <div class="person-name">
        <p>
          {{user.first_name}}<br>
          {{user.last_name}}
        </p>
      </div>

      {{!-- Replaces add-friend button with edit profile button if on your own profile --}}
      {{#unless currentUser}}
      <button class="add-friend btn" data-id={{user.id}}>add friend</button>
      {{else}}
      <div class="edit-prof btn">
        <button id="edit-profile">Edit Profile</button>
      </div>
      {{/unless}}

      <div class="bio">
        <textarea disabled="true" id="bio">{{user.bio}}</textarea>
      </div>

    </div>
  
    <div class="profile-assets">
  
      <div class="friends-and-interests">
  
        <div class="friends">
          <h3 id="friends-txt">Friends</h3>
          <div class="friends-data">
            {{#each user.Friends as |friend|}}
            <div class="friend-data">  
              <img class="friend-img" src="{{friend.profile_img}}">
              <a class="friend-username" href="/profile/{{friend.username}}">{{friend.username}}</a>
            </div>
            {{/each}}
          </div>
        </div>
  
        <div class="interests">
          <h3>Interests</h3>
          <ul class="interests-lists">
            {{#each user.Interests as |interest|}}
            <li class="interest"> {{name}} <button class="delete-interest">X</button></li>
            {{/each}}
          </ul>
        </div>
  
    </div>
  
  <!-- where all posts and comments are held -->
    <div class="wall">
        <div class="wall-nav">
          <p class="wall-user">{{user.username}}:</p>
        {{!-- create post field at top of page --}}
        <form class="create-post">
            <input type="text" placeholder="Tell us what's on your mind" id="make-post">
            <button class="post-btn accent btn">Post</button>
        </form>

        <br>
        
        {{!-- existing posts --}}
        {{!--TODO: make a for each statment for each post --}}
        {{#each user.Posts as |post|}}
        <div class="post">

          {{!-- TODO: create a href that takes you to the user's profile when clicking the username <a> tag --}}
          <a href="http://localhost:5678/profile/id/{{post.UserId}}">{{user.username}}</a>

            <h4>{{post.title}}</h4>
            <p>{{post.body}}</p>
          {{!-- TODO: make a for each statement to create a comment on a post --}}
          {{!-- TODO: edit the <p> --}}
            <br>
          {{#each post.Comments as |comment|}}
          <div class="comment">
            <p class="comment-text">{{comment.text}}</p>
            <!-- TODO: add edit and delete buttons for each comment posted by current user -->
            {{#if currentUser}}  
            <button class="edit-comment btn">Edit</button>
            <button class="delete-btn btn">Delete</button>
            {{/if}}
          </div>
          {{/each}}

          <form class="create-comment">
            <input type="text" placeholder="Add a comment...">
            <button class="post-btn accent btn">Post</button>
          </form>
        </div>
        <br>
        {{/each}}
      </div>
    </div>
  </div>
  
  