
    <div class="profileview">
        <div class="profileimg">
            <img src="{{profile_img}}">
        </div>
        <div class="personame">
            <p>
                {{fistName}}
                <br>
                {{lastName}}
            </p>
        </div>
        <div class="bio">
            <p>{{bio}}</p>
        </div>
        <form></form>
    </div>
    
    {{!-- <div class="friends">
        <div class="friend-data">
            {{#each Friend as |Friend|}}
            {{> friend.details}}
            {{/each}}
        </div>
    </div> --}}

    <div class="interests">
        <div class="interests-title">
            {{name}}
        </div>
    {{!-- <ul class="interests-lists">
        <li> interest 1 </li>
    </ul> --}}
    </div>

    <div class="wall">
        <div class="wall-nav">
            <p>{{username}}</p>
        {{#each Posts}}
            <div class="post">
                <p>
                    {{title}}
                    {{body}}
                </p>
                {{#if is CurrentUser}} 
                <form>
                    <input type="text" name="comment" placeholder="Add a comment...">
                <button class="edit-cmt-btn">Edit</button>
                <button class="delete-cmt-btn">Delete</button>
                <button type="submit">Post</button>
                </form>
                {{/if}}
                {{#each comments}}
                <div class="comment">
                    <p>{{text}}</p>
                    {{#if is CurrentUser}}
                </div>
            </div>
        {{/each}}
    </div>


            {{!-- <div class="user-post">
                <form>
                    <input type="text" placeholder="Tell us what's on your mind" id="make-post">
                </form>
                <button class="user-post-btn">Post</button>
            </div>
        </div>

        <div class="timeline">
            <p class="friends-post">
                {{timestamp}} {{username}}: {{title}}
                {{body}}
            </p>
        </div> --}}