{{if users}}

<ul class="search-results">
    {{#each users}}
		<li class="search-result">
			<div class="user-match">
				<a href="/profile/{{username}}">{{username}}</a>
				<div class="full-name">{{first_name}} {{last_name}}</div>
			</div>
			<button class="btn big-btn add-friend">add friend</button>
		</li>
    {{/each}}
</ul>

{{else}}
{{!-- TODO: add CSS styling to no-results class --}}
    <p class="no-results">No results found.</p>
{{/if}}
